<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Capa_Datos.Properties.Settings.AdopcionMascotasDB1ConnectionString"
			 connectionString="Data Source=.;Initial Catalog=AdopcionMascotasDB1;Integrated Security=True;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>