<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="TuCadenaConexion"
             connectionString="Server=TU_SERVIDOR;Database=TU_BASE_DATOS;User Id=TU_USUARIO;Password=TU_PASSWORD;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.8">
            <assemblies>
                <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
                <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </assemblies>
        </compilation>
    </system.web>
</configuration>
